.yellow{
  background-color: #FFF100;
  color: black;
}

.orange{
  background-color: #FF8C00;
}

.red{
  background-color: #E81123;
}

.pink{
  background-color: #EC008C;
}

.violet{
  background-color: #68217A;
}

.blue{
  background-color: #00188F;
}

.lblue{
  background-color: #00BCF2;
}

.lgreen{
  background-color: #00B294;
}

.green{
  background-color: #009E49;
}

.lime{
  background-color: #BAD80A;
}
